body {
    font-family: sans-serif;
    margin: 20px;
  }
  h1{
    text-align: center;
  }
  .container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #1e00a3;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
  }
  
  input[type="Mascota"],
  input[type="Edad"],
  input[type="number"],
  input[type="date"],
  input[type="Raza"],
  textarea {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #6900cc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: rgb(6, 208, 223);
  }
  input:focus,
  select:focus,
  textarea:focus {
    outline: none; 
    border-color: #000000;
    box-shadow: 0 0 0 0.2rem rgba(21, 0, 95, 0.25); 
  }
  .boton{
     text-align: center;
  }